.task{
    /*height: 100px;*/
    background-color: lightpink;
    margin-bottom: 10px;
}

.task2-red{
    background-color: red;
}

.task2-pink{
    background-color: pink;
}

.one{
    width: 200px;
    height:200px;
    background-color: silver;
}

.two{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

.three{
    width: 50px;
    height: 50px;
    background-color: peachpuff;
}

#sailor_cat{
    width: 100px;
}
